/* src/pages/LoginPage.module.css */

.formContainer {
  max-width: 400px;
  margin: 40px auto;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px var(--shadow-color);
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.selectLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.select {
  display: 'block';
  width: 100%;
  padding: 12px;
  margin-bottom: 1.25rem;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  font-size: 1rem;
}