/* src/components/common/Input.module.css */

.wrapper {
  margin-bottom: 1.25rem;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.input {
  display: 'block';
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  font-size: 1rem;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}